In [34]:
import pandas as pd
import numpy as np

In [35]:
data=pd.read_csv('cardio_base.csv')

In [36]:
data.head()

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   0  18393       2     168    62.0    110     80            1      0
1   1  20228       1     156    85.0    140     90            3      0
2   2  18857       1     165    64.0    130     70            3      0
3   3  17623       2     169    82.0    150    100            1      0
4   4  17474       1     156    56.0    100     60            1      0

In [37]:
data.shape

(70000, 9)

In [38]:
max_age= data['weight'].max()
print("Maximum weight:", max_age)
row_with_max_weight= data.loc[data['weight']==max_age]
row_with_max_weight

Maximum weight: 200.0

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
435      618  16765       1     186   200.0    130     70            1      0
50413  71945  15117       2     180   200.0    150     90            1      0

In [39]:
(16765+15117)/2

15941.0

In [40]:
min_age= data['weight'].min()
print("Maximum weight:", min_age)
row_with_min_weight= data.loc[data['weight']==min_age]
row_with_min_weight

Maximum weight: 10.0

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
57858  82567  18804       2     165    10.0    180   1100            2      0

In [41]:
row_with_min_weight= data.loc[data['age'] >18250]
row_with_min_weight

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0          0  18393       2     168    62.0    110     80            1      0
1          1  20228       1     156    85.0    140     90            3      0
2          2  18857       1     165    64.0    130     70            3      0
5          8  21914       1     151    67.0    120     80            2      0
6          9  22113       1     157    93.0    130     80            3      0
...      ...    ...     ...     ...     ...    ...    ...          ...    ...
69995  99993  19240       2     168    76.0    120     80            1      1
69996  99995  22601       1     158   126.0    140     90            2      0
69997  99996  19066       2     183   105.0    180     90            3      0
69998  99998  22431       1     163    72.0    135     80            1      0
69999  99999  20540       1     170    72.0    120     80            2      0

[48572 rows x 9 columns]

In [42]:
row_with_min_weight= data.loc[(data['age'] >18250) & (data['cholesterol'] ==3)]
row_with_min_weight

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
1          1  20228       1     156    85.0    140     90            3      0
2          2  18857       1     165    64.0    130     70            3      0
6          9  22113       1     157    93.0    130     80            3      0
7         12  22584       2     178    95.0    130     90            3      0
30        42  18291       1     155   105.0    120     80            3      0
...      ...    ...     ...     ...     ...    ...    ...          ...    ...
69940  99911  21307       1     168    78.0    140     80            3      0
69949  99932  22119       1     167    68.0    167     85            3      0
69956  99940  21453       1     158    75.0    120     80            3      0
69970  99958  22572       2     173   103.0    140     80            3      1
69997  99996  19066       2     183   105.0    180     90            3      0

[6823 rows x 9 columns]

In [43]:
(48572-21409)/21409*100

126.87654724648512

In [44]:
(48572-21428)/21428*100

126.67537801008027

In [45]:
21*2

42

In [46]:
row_with_max_weight= data.loc[(data['age'] <=18250) & (data['cholesterol']==3) ]
row_with_max_weight

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
24        35  16608       1     170    68.0    150     90            3      0
53        68  14507       1     165    77.0    135     90            3      0
150      203  16017       2     167    82.0    120     80            3      0
172      234  16771       1     169    64.0    120     80            3      0
221      305  17591       1     157    70.0    160    100            3      0
...      ...    ...     ...     ...     ...    ...    ...          ...    ...
69630  99452  15920       2     186    79.0    130     80            3      0
69742  99612  15855       2     175    89.0    140     90            3      0
69836  99743  18207       1     170    80.0    120     80            3      0
69846  99759  16006       2     179    76.0    140     90            3      0
69869  99792  17481       2     176    96.0    160     87            3      1

[1243 rows x 9 columns]

In [47]:
data2=pd.read_csv('cardio_alco.csv')

In [48]:
50*365

18250

In [49]:
data2.head()

   alco
0  44;0
1  45;0
2  46;0
3  47;0
4  49;0

In [50]:
df=data

In [51]:
df.head()

   id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   0  18393       2     168    62.0    110     80            1      0
1   1  20228       1     156    85.0    140     90            3      0
2   2  18857       1     165    64.0    130     70            3      0
3   3  17623       2     169    82.0    150    100            1      0
4   4  17474       1     156    56.0    100     60            1      0

In [52]:
df.tail(
)

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  smoke
69995  99993  19240       2     168    76.0    120     80            1      1
69996  99995  22601       1     158   126.0    140     90            2      0
69997  99996  19066       2     183   105.0    180     90            3      0
69998  99998  22431       1     163    72.0    135     80            1      0
69999  99999  20540       1     170    72.0    120     80            2      0

In [53]:
# filter men and women  data
men_data= df[df['gender']==2]
women_data= df[df['gender']==1]

# calculate the persentage of smokers
men_smoker= (men_data['smoke'].sum()/ len(men_data))*100
women_smoker= (women_data['smoke'].sum()/ len(women_data))*100

# compare the smoker habbit between men and women
if men_smoker > women_smoker:
    print("men are more likely to smoke than women")

elif men_smoker < women_smoker:
    print("women are more likely to smoke than men")
    
else:
    print("men and women both equalily like to smoke")

men are more likely to smoke than women

In [54]:
men_smoker

21.88802615447487

In [55]:
percentage_differnece= abs(men_smoker-women_smoker)
print("percentage difference:",percentage_differnece)

percentage difference: 20.102390309976734

In [56]:
50*365

18250

In [57]:


# Assuming heights are stored in a list or array
heights = [3000000]  # Replace [...] with your actual list or array of heights

# Calculate the height of the tallest 1% of people
tallest_1_percent_height = np.percentile(heights, 99)

print(f"The height of the tallest 1% of people is {tallest_1_percent_height:.2f} units.")

The height of the tallest 1% of people is 3000000.00 units.

In [58]:

# Generate some sample height data (assuming it follows a normal distribution)
np.random.seed(42)  # for reproducibility
height_data = np.random.normal(loc=175, scale=10, size=10000)  # mean=175, std_dev=10

# Create a DataFrame with the height data
df = pd.DataFrame({'Height': height_data})

# Calculate the height cutoff for the tallest 1% of people
height_cutoff = df['Height'].quantile(0.99)
print("Height cutoff for the tallest 1% of people:", height_cutoff, "cm")

Height cutoff for the tallest 1% of people: 198.2483020263407 cm

In [59]:

# Assuming you have a DataFrame 'df' with a column 'Height' containing height data
# Calculate mean and standard deviation of height
mean_height = df['Height'].mean()
std_dev_height = df['Height'].std()

# Calculate the cutoff points that are more than 2 standard deviations away from the mean
cutoff_high = mean_height + 2 * std_dev_height
cutoff_low = mean_height - 2 * std_dev_height

# Count the number of people whose heights fall beyond these cutoff points
num_people_beyond_cutoff = df[(df['Height'] > cutoff_high) | (df['Height'] < cutoff_low)].shape[0]

# Calculate the percentage of people falling beyond these cutoff po
# ints
percentage_beyond_cutoff = (num_people_beyond_cutoff / df.shape[0]) * 100

print("Percentage of people more than 2 standard deviations away from the average height:", percentage_beyond_cutoff, "%")

Percentage of people more than 2 standard deviations away from the average height: 4.62 %

In [60]:
data3= pd.read_csv('covid_data.csv')

In [ ]:
import pandas as pd

# Load the COVID-19 cases dataset
covid_df = pd.read_csv('covid_data.csv')  # Assuming you have a column for 'Country', 'TotalDeaths', and 'Population'

# Calculate death rate (deaths per million inhabitants) for each country
covid_df['DeathRate'] = (covid_df['new_deaths'] / covid_df['population']) * 1_000_000000

# Sort countries based on death rate
sorted_countries = covid_df.sort_values(by='DeathRate', ascending=False)

# Find the country in the 3rd position
third_highest_death_rate_country = sorted_countries.iloc[5]['location']

print("The country with the 3rd highest death rate is:", third_highest_death_rate_country)

The country with the 3rd highest death rate is: San Marino

In [ ]:
import pandas as pd

# Load the COVID-19 cases dataset
covid_df = pd.read_csv('covid_data.csv')  # Assuming you have a column for 'Country', 'TotalDeaths', and 'Population'

# Calculate death rate (deaths per million inhabitants) for each country
covid_df['DeathRate'] = (covid_df['new_deaths'] / covid_df['population']) * 1_000_000

# Sort countries based on death rate and reset index
sorted_countries = covid_df.sort_values(by='DeathRate', ascending=False).reset_index(drop=True)

# Find the country in the 3rd position
third_highest_death_rate_country = sorted_countries.loc[2, 'location']

print("The country with the 3rd highest death rate is:", third_highest_death_rate_country)

The country with the 3rd highest death rate is: San Marino

In [ ]:
# Calculate precision
precision = 10 / (10 + 5)

# Calculate recall
recall = 10 / (10 + 3)

# Calculate F1 score
f1_score = 2 * (precision * recall) / (precision + recall)

print("F1 Score:", f1_score)

F1 Score: 0.7142857142857142

In [ ]:
import pandas as pd

# Load the dataset
data = pd.read_csv('covid_data.csv')  # Replace 'country_data.csv' with your dataset filename

# Step 2: Filter countries with GDP over $10,000
gdp_over_10k = data[data['gdp_per_capita'] > 10000]

# Step 3: Calculate the proportion of countries with GDP over $10,000
p_gdp_over_10k = len(gdp_over_10k) / len(data)

# Step 4: Filter countries with at least 5 hospital beds per 1000 inhabitants
hospital_beds_over_5 = data[data['hospital_beds_per_thousand'] >= 5]

# Step 5: Calculate the proportion of countries with at least 5 hospital beds per 1000 inhabitants among those with GDP over $10,000
p_hospital_beds_given_gdp_over_10k = len(gdp_over_10k[gdp_over_10k['hospital_beds_per_thousand'] >= 5]) / len(gdp_over_10k)

# Step 6: Calculate the conditional probability using Bayes' theorem
p_gdp_over_10k_given_hospital_beds_over_5 = (p_hospital_beds_given_gdp_over_10k * p_gdp_over_10k) / (len(hospital_beds_over_5) / len(data))

print("Probability that a country has GDP over $10,000 given that they have at least 5 hospital beds per 1000 inhabitants:", round(p_gdp_over_10k_given_hospital_beds_over_5 * 100, 2), "%")

Probability that a country has GDP over $10,000 given that they have at least 5 hospital beds per 1000 inhabitants: 85.65 %